@import url("variables.css");
@import url("header.css");
@import url("body.css");

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-navbar-background-color);
    padding: 15px;
}

.navbar a{
    text-decoration: none;
    color: var(--main-text-color);
    padding: 1.0rem;
}
.navbar-link{
    display: flex;
    list-style-type: none;
}
.navbar-link li{
    margin-left: 20px;
}

.navbar-link a{
    font-size: 1.2rem;
}
.navbar-link a:hover{
    background-color: var(--main-navbar-hover);
}
.active{
    background-color: var(--main-navbar-hover);
}

.humberger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.humberger > .line{ 
    width: 25px;
    height: 3px;
    margin: 3px 0;
    background-color:var(--main-text-color);
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 5px;
    margin-top: 15px;
    width: 100%;
}
.gallery .image-gallery{
    width: 32%;
    height: auto;
}
.gallery .image-gallery img{
    width: 100%;
    border-radius: 7px;
}
.gallery > .image-gallery > img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .navbar-link{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--main-navbar-background-color);
        position: absolute;
        top: 57.5px;
        left: 0;
    }

    .navbar-link > li{
        text-align: center;
        margin: 15px 0;
    }
    .humberger{
        display: flex;
    }
    .gallery .image-gallery{
        width: 45%;
    }
}